<section ng-controller="{{moduleName}}DashboardCtrl" layout-padding>
    <md-content layout-padding class="md-whiteframe-1dp">
        <p class="md-body-2">{{message}}</p>
        <p class="md-body-1">
            You can start building your pages in the <code>mod_{{moduleName}}</code> folder. Please keep track of all files in the <code>mod.{{moduleName}}.json</code> file to enable an easier transition when the core code is updated or if you chose to further customize the app.
        </p>
    </md-content>
</section>